<IfModule mod_rewrite.c>
  RewriteEngine On
  # Devs: Edit the RewriteBase below to match your project's main directory or subfolder path
  RewriteBase /alari/venjs/ 
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . index.html [L]
</IfModule>
